@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");

:root {
  --PrimaryBackCol: #f5f5f5;
  --SecondaryBackCol: white;
  --HeadingColor: #344653;
  --trans: #162129e0;
  --ParaColor: #586c79;
  --DeconOfficialCol: #155881;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* scroll-snap-type: y mandatory; */
}
body {
  width: 100vw;
  background-color: var(--PrimaryBackCol);
  color: white;
  overflow-x: hidden;
}

.universalParaghraph {
  font-size: 1.1vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--ParaColor);
  margin: 0;
  line-height: 140%;
}
.SmallHeadings {
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  /* width: 100%; */
  font-weight: 800;
  color: var(--HeadingColor);
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 900px) {
  .universalParaghraph {
    font-size: 1.5vw;
  }
  .SmallHeadings {
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 650px) {
  .universalParaghraph {
    font-size: 2vw;
  }
  .SmallHeadings {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 500px) {
  .universalParaghraph {
    font-size: 3.3vw;
  }
  .SmallHeadings {
    font-size: 5.5vw;
  }
}

.universalButton {
  width: fit-content;
  height: 46px;

  border: none;
  padding: 0px 20px;
  border-radius: 0px;

  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-transform: uppercase;
}
.universalButton:hover {
  text-decoration: none;
}

.snapper {
  object-fit: contain;
  width: 100%;
  scroll-snap-align: start;
  padding: 0em;
  margin: 0em;
  /* border-bottom: 2px solid purple; */
}
.spiderman {
  height: 100vh;
}

.childSnapper {
  object-fit: contain;
  width: 100%;
  scroll-snap-align: start;
  /* border: 2px solid blue; */
}

.contactButton:hover {
  background-color: var(--DeconOfficialCol);
  color: white !important;
}
@media (max-width: 700px) {
  .contactButton:hover {
    background-color: transparent !important;
    color: #155881 !important;
  }
}

.nobita {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  /* background-color: blueviolet; */
}


.heyYou{
  /* width: 100vw;
  height: 40vh;
  overflow-y: scroll;
  overflow: auto; */
}